<h1>Orders</h1>

<table class='table table-bordered'>
  <thead>
    <th>Customer</th>
    <th>SalesRep</th>
    <th>Sum Total</th>
    <th>Products</th>
    <th>View</th>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.first_name %></td>
        <td><%= order.salesrep.first_name %></td>
        <td><%= order.sum_total %></td>
        <td><%= order.products.pluck(:name).join(', ') %></td>
        <td><%= link_to 'View', order_path(order.id), class: 'btn btn-sm btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
